.home {
    max-width: 1250px;
    min-height: 900px;
    margin: auto;
    background-color: #26272b;
    color: #f4f4f4;
}


.home .img-one-container {
    width: 1150px;
    height: 400px;
    margin: auto;
    background: rgba(0, 0, 0, 1);
    object-fit: cover;
}

.home .img-one {
    width: 1150px;
    height: 400px;
    object-fit: cover;
    opacity: 60%;
}