.home {
  max-width: 100%;
  min-height: 900px;
  background-color: #26272b;
  color: #f4f4f4;
}

.home .body {
  max-width: 1250px;
  margin: auto;
}

.home .img-one {
  background: url(https://images.unsplash.com/photo-1634704784915-aacf363b021f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80)
    no-repeat center/cover;
  width: 100%;
  height: 800px;
  position: relative;
  opacity: 60%;
}

.img-one-text-one {
  position: absolute;
  font-size: 3.8rem;
  font-weight: 800;
  top: 15.5rem;
  left: 10.5rem;
}

.img-one-text-two {
  position: absolute;
  font-size: 1.5rem;
  top: 21rem;
  left: 10rem;
}

.img-one-text-three {
  position: absolute;
  font-size: 1.5rem;
  top: 23rem;
  left: 10rem;
}

.img-one-text-four {
  position: absolute;
  font-size: 1.5rem;
  top: 25rem;
  left: 10rem;
}

.img-one-button-signup {
  position: absolute;
  top: 28rem;
  left: 11rem;
  width: 100px;
  height: 35px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  background: rgb(75, 209, 149);
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.img-one-button-login {
  position: absolute;
  top: 28rem;
  left: 18rem;
  width: 100px;
  height: 35px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  background: black;
  border: 2px solid white;
  color: rgb(75, 209, 149);
  cursor: pointer;
}

.img-one-button-signup:hover {
  border: none;
}

.img-one-button-login:hover {
  border: none;
}

.body .coin-list-container {
  position: absolute;
  top: 17rem;
  right: 9rem;
}

@media screen and (max-width: 1350px) {
  .home .img-one {
    height: 850px;
  }

  .img-one-text-one {
    font-size: 3rem;
    left: 7rem;
  }

  .img-one-text-two {
    font-size: 1.2rem;
    top: 19.5rem;
    left: 7rem;
  }

  .img-one-text-three {
    font-size: 1.2rem;
    top: 21rem;
    left: 7rem;
  }

  .img-one-text-four {
    font-size: 1.2rem;
    top: 22.5rem;
    left: 7rem;
  }

  .img-one-button-signup {
    top: 24.6rem;
    left: 8rem;
    width: 66px;
    height: 27px;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  .img-one-button-login {
    top: 24.6rem;
    left: 12.5rem;
    width: 66px;
    height: 27px;
    font-size: 0.9rem;
    border-radius: 10px;
  }

  .body .coin-list-container {
    top: 16rem;
    right: 5rem;
  }
}

@media screen and (max-width: 1120px) {
  .home .img-one {
    height: 1150px;
  }

  .img-one-text-one {
    left: 16rem;
  }

  .img-one-text-two {
    left: 16rem;
  }

  .img-one-text-three {
    left: 16rem;
  }

  .img-one-text-four {
    left: 16rem;
  }

  .img-one-button-signup {
    left: 17rem;
  }

  .img-one-button-login {
    left: 21.6rem;
  }

  .body .coin-list-container {
    top: 36rem;
    right: 8rem;
  }
}

@media screen and (max-width: 780px) {
  .img-one-text-one {
    left: 11rem;
  }

  .img-one-text-two {
    left: 11rem;
  }

  .img-one-text-three {
    left: 11rem;
  }

  .img-one-text-four {
    left: 11rem;
  }

  .img-one-button-signup {
    left: 12rem;
  }

  .img-one-button-login {
    left: 16.5rem;
  }

  .body .coin-list-container {
    top: 33rem;
    right: 13.5rem;
  }
}

@media screen and (max-width: 660px) {
  .img-one-text-one {
    font-size: 2rem;
    left: 6rem;
  }

  .img-one-text-two {
    font-size: 0.85rem;
    top: 18.3rem;
    left: 6rem;
  }

  .img-one-text-three {
    font-size: 0.85rem;
    top: 19.3rem;
    left: 6rem;
  }

  .img-one-text-four {
    font-size: 0.85rem;
    top: 20.3rem;
    left: 6rem;
  }

  .img-one-button-signup {
    left: 12rem;
  }

  .img-one-button-login {
    left: 16.5rem;
  }

  .img-one-button-signup {
    top: 21.8rem;
    left: 6.5rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .img-one-button-login {
    top: 21.8rem;
    left: 10.5rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .body .coin-list-container {
    top: 33rem;
    right: 9.5rem;
  }
}

@media screen and (max-width: 480px) {
  .home .img-one {
    height: 1050px;
  }

  .img-one-text-one {
    font-size: 1.8rem;
    left: 3.5rem;
  }

  .img-one-text-two {
    font-size: 0.8rem;
    top: 18rem;
    left: 3.5rem;
  }

  .img-one-text-three {
    font-size: 0.8rem;
    top: 19rem;
    left: 3.5rem;
  }

  .img-one-text-four {
    font-size: 0.8rem;
    top: 20rem;
    left: 3.5rem;
  }

  .img-one-button-signup {
    top: 21.4rem;
    left: 4rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .img-one-button-login {
    top: 21.4rem;
    left: 8rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .body .coin-list-container {
    top: 29.5rem;
    right: 5.5rem;
  }

}

@media screen and (max-width: 400px){
  .home .img-one {
    height: 1050px;
  }

  .img-one-text-one {
    top: 14rem;
    left: 3rem;
  }

  .img-one-text-two {
    top: 16.4rem;
    left: 3rem;
  }

  .img-one-text-three {
    top: 17.3rem;
    left: 3rem;
  }

  .img-one-text-four {
    top: 18.2rem;
    left: 3rem;
  }

  .img-one-button-signup {
    top: 19.5rem;
    left: 3.5rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .img-one-button-login {
    top: 19.5rem;
    left: 7.2rem;
    width: 55px;
    height: 23px;
    font-size: 0.75rem;
    border-radius: 6px;
  }

  .body .coin-list-container {
    top: 26rem;
    right: 4.5rem;
  }
}