.coin-detail {
  width: 1000px;
  height: 1150px;
  margin: 4rem auto;
  background-color: #1b1c1e;
}

.coin-detail .title {
  margin: 4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
}

.title .symbol {
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1.2rem;
}

.title .rank {
  font-weight: 500;
  font-size: 1.8rem;
  float: right;
  padding-top: 1.2rem;
}

.middle-container {
  display: flex;
  justify-content: space-between;
}

.middle-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.img-box {
  width: 160px;
  height: 175px;
  margin-bottom: 2rem;
}

.img-box img {
  width: 160px;
  height: 160px;
}

.buy-container {
  margin: 2rem 4rem;
  height: 160px;
  background-color: rgb(81, 81, 81);
  border: 0.7px solid white;
  border-radius: 4px;
}

.buy-container h3 {
  text-align: center;
  margin: 0.6rem;
  font-size: 1.4rem;
}

.amount-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem 0;
}

.amount-btns button {
  height: 30px;
  width: 32px;
  margin: 0 1rem;
  background-color: #1b1c1e;
  border: 1px solid #1b1c1e;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.amount-btns p {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}

.buy-btns {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btns button {
  width: 200px;
  height: 30px;
  margin: 0 0.5rem;
  background: rgba(75, 209, 149, 0.5);
  border: 2px solid rgb(75, 209, 149);
  color: white;
  cursor: pointer;
}

.buy-btns button:hover {
  width: 200px;
  height: 30px;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  background: rgba(75, 209, 149, 0.9);
  border: 3px solid rgb(75, 209, 149);
  color: white;
  cursor: pointer;
}


.purchaseSuccessful {
  text-align: center;
  margin: 0.4rem;
  font-size: 0.95rem;
  font-weight: 600;
}

.description p {
  margin: 1rem 4rem;
  font-size: 0.7rem;
}
