.coin-detail {
  width: 1000px;
  height: 950px;
  margin: 4rem auto;

  background-color: #1b1c1e;
}

.coin-detail .title {
  margin: 4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
}

.title .symbol {
  color: gray;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1.2rem;
}

.title .rank {
  font-weight: 500;
  font-size: 1.8rem;
  float: right;
  padding-top: 1.2rem;
}

.prices {
  width: 450px;
}

.coin-detail .prices {
  margin: 0 4rem;
}

.coin-detail .prices p {
  margin-top: 0.8rem;
  padding-bottom: 0.1rem;
  font-size: 1.1rem;
  border-bottom: 1px solid gray;
}

.coin-detail .prices p span {
  float: right;
}

.description p {
  margin-right: 4rem;
  font-size: 0.7rem;
  width: 380px;
  float: right;
}
