.cart {
  max-width: 1250px;
  min-height: 900px;
  margin: auto;
}

.cart h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.cart-container {
  display: flex;
  justify-content: space-evenly;
}

.cart-info {
  width: 450px;
  height: 300px;
  padding: 0 1rem;
}

.cart-info h2{
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.info-header {
  text-align: center;
  border-bottom: 2px solid white;
}

.cart-info p {
  font-size: 1.1rem;
  padding: 1.2rem 2.4rem;
}

.cart-info p span {
  float: right;
}

.cart-btns {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-info button {
  width: 360px;
  height: 35px;
  margin: 0.6rem;
  background: transparent;
  border: 2px solid rgb(75, 209, 149);
  color: white;
  cursor: pointer;
}

.cart-info button:hover {
  width: 360px;
  height: 35px;
  margin: 0.6rem;
  font-size: 0.85rem;
  background: rgba(75, 209, 149, 0.2);
  border: 3px solid rgb(75, 209, 149);
  color: white;
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  margin-top: 6rem;
  font-size: 1.2rem;
}