.footer {
  height: 245px;
  width: 100%;
  margin-top: 3rem;
  background-color: black;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 745px) {
  .footer {
    display: none;
  }
}
