.coin-rows {
  max-width: 1250px;
  min-height: 900px;
  margin: 8rem auto;
  background-color: #26272b;
  color: #f4f4f4;
}

.coin-list-header {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 2rem 3rem;
}

.row-top {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
  padding: 0.8rem 0;
  margin-bottom: 1.5rem;
}

.row-top p {
  color: rgb(75, 209, 149);
  width: 110px;
  font-size: 1rem;
  font-weight: 700;
}

.row-top .name {
  width: 180px;
}

.row-controls {
  max-width: 138px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 0.9rem;
}

.row-controls button {
  margin: 0rem 0.6rem;
  padding: 0.5rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  background-color: black;
  color: rgb(75, 209, 149);
  cursor: pointer;
}

.row-controls button:hover {
  color: white;
}

@media screen and (max-width: 1300px) {
  .coin-rows {
    width: 85%;
  }

  .market-cap {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .hr {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .coin-list-header {
    font-size: 2rem;
    margin: 1.5rem 1rem;
  }

  .symbol {
    display: none;
  }

  .row-top p {
    width: 110px;
    font-size: 0.85rem;
    font-weight: 700;
  }
}
