.login {
    background: black;
    margin: 10rem auto;
    margin-bottom: 14rem;
    width: 400px;
    height: 550px;
    border: 2px solid white;
    border-radius: 16px;
    transition: 3s;
}

.login h3 {
    margin: 5rem 0 3rem 5rem;
    font-size: 2.2rem;
    font-weight: 800;
}

.login .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    width: 260px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.3rem 0 ;
    outline: none;
    transition: 3s;
}

.login-form button {
    width: 65%;
    height: 38px;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    color: white;
    background: rgb(75, 209, 149);
    border: 2px solid rgb(75, 209, 149);
    cursor: pointer;
}

.login-form button:hover {
    border: 2px solid white;
}

@media screen and (max-width: 580px){
    .login {
        width: 320px;
        height: 460px;
        transition: 3s;
    }

    .login h3 {
        font-size: 2rem;
        margin: 4rem 0 3rem 3.5rem;
    }

    .login-form button {
        margin: 0.4rem 0;
        height: 36px;
        font-size: 0.9rem;
    }

    .login-form input {
        width: 210px;
        transition: 3s;
    }
}